@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
* {
  box-sizing: border-box;
}

.aboutUs-header-container {
  background: #fff;
  max-width: 100%;
  margin: 0 auto;
}

.aboutUs-header {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    padding-right: 68px;
    height: 98px;
    width: 250px;
    object-fit: cover;
  }
}

.aboutUs-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;

  a {
    color: #000000;
    text-decoration: none;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 16px;
  }

  a:hover {
    color: #008afc;
  }
}

.aboutUs-links a.active {
  color: #008afc;
}

.aboutUs-introduction {
  padding-top: 35px;
}

.aboutUs-intro-container {
  height: 300px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.aboutUs-intro-container img {
  min-height: 300px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.aboutUs-intro-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.rectangle-position {
  max-width: 850px;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  z-index: 2;
}

.rectangle {
  align-items: center;
  background-color: rgba(0, 138, 252, 0.7);
  display: flex;
  height: 300px;
  width: 240px;
  justify-content: center;
  transform: skew(-21deg);

  p {
    position: relative;
    z-index: 3;
    color: rgba(255, 255, 255, 1);
    font-size: 40px;
    font-weight: 700;
    transform: skew(21deg);
  }
}

.drive {
  background: #fff;
  display: flex;
  gap: 75px;
  padding-top: 100px;
  padding-bottom: 100px;
  justify-content: center;
  position: relative;

  span {
    line-height: normal;
    text-align: justify;
    font-size: 18px;
    width: 395px;
  }
}

.square {
  border: 5px #008afc solid;
  height: 370px;
  width: 449px;
  position: absolute;
  z-index: 0;
  top: 58px;
}

.img-container-about {
  border: 8px rgba(255, 255, 255, 0.6) solid;
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.3);
  height: 302px;
  right: 50px;
  position: relative;
  bottom: 10px;
  width: 469px;
  z-index: 1;

  img {
    width: 100%;
    height: 100%;
  }
}

.footer-aboutUs {
  align-items: center;
  background-color: #008afc;
  display: flex;
  justify-content: center;
  height: 45px;
  width: 100%;

  span {
    font-size: 14px;
    color: #fff;
  }
}

/* .under-footer {
  background-color: #fff;
  display: flex;
  justify-content: center;
  height: 100%;
  position: absolute;
  width: 100%;
} */
